absl-py==2.1.0
accelerate==1.7.0
adagio==0.2.6
aioice==0.10.1
aiortc==1.13.0
ale-py==0.10.1
ansi2html==1.9.2
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==24.3.0
audioread==3.0.1
av==14.4.0
blis==1.3.0
catalogue==2.0.10
click==8.2.1
cloudpathlib==0.21.0
cmdstanpy==1.2.5
colorlog==6.9.0
confection==0.1.5
coreforecast==0.0.16
cryptography==45.0.4
cymem==2.0.11
Cython==3.1.0
darts==0.35.0
dash==3.0.4
dash-bootstrap-components==2.0.2
databricks-sdk==0.55.0
datasets==2.14.0
deap==1.4.2
Deprecated==1.2.18
dill==0.3.7
dnspython==2.7.0
docker==7.1.0
docker-pycreds==0.4.0
evaluate==0.4.3
Farama-Notifications==0.0.4
fastapi==0.115.12
ffmpeg-python==0.2.0
flatbuffers==24.12.23
fs==2.4.16
fugue==0.9.1
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.6.0
geopandas==1.0.1
git-filter-repo==2.47.0
google-auth==2.40.2
google-crc32c==1.7.1
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
grpcio==1.69.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h5py==3.13.0
hdbscan==0.8.40
holidays==0.75
huggingface-hub==0.30.2
HyperPyYAML==1.2.2
ifaddr==0.2.0
importlib_resources==6.5.2
ipywidgets==8.1.5
jax==0.5.3
jaxlib==0.5.3
jiwer==3.1.0
jsonpointer==2.1
jupyter-dash==0.4.2
jupyterlab_widgets==3.0.13
keras==3.8.0
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
librosa==0.11.0
lightning==2.5.2
lightning-utilities==0.14.3
lxml==5.2.1
marisa-trie==1.2.1
matplotlib==3.10.3
mediapipe==0.10.21
mkl-service==2.4.0
ml_dtypes==0.5.1
mlflow==2.22.0
mlflow-skinny==2.22.0
multiprocess==0.70.15
murmurhash==1.0.12
namex==0.0.8
narwhals==1.43.1
nfoursid==1.0.1
nlopt==2.9.1
numpy==1.26.4
openai-whisper==20240930
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opt_einsum==3.4.0
optree==0.13.1
optuna==4.1.0
outcome==1.3.0.post0
pandas==2.2.3
pickle-mixin==1.0.2
pmdarima==2.0.4
pooch==1.8.2
portalocker==3.1.1
preshed==3.0.9
prometheus-fastapi-instrumentator==7.1.0
property==2.6.2
prophet==1.1.7
protobuf==4.25.3
py4j==0.10.9.9
pyarrow==19.0.1
pyasn1-modules==0.2.8
pycountry==24.6.1
pydub==0.25.1
pyee==13.0.0
pygame==2.6.1
pylibsrtp==0.12.0
pyls-spyder==0.4.0
pynndescent==0.5.13
pyod==2.0.5
pyogrio==0.10.0
pyOpenSSL==25.1.0
pyopt==0.84
pyproj==3.7.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyspark==4.0.0
python-multipart==0.0.20
pytorch-forecasting==1.4.0
pytorch-lightning==2.5.1.post0
pywin32==305.1
RapidFuzz==3.12.2
ray==2.40.0
retrying==1.3.4
rsa==4.9.1
sacrebleu==2.5.1
safetensors==0.5.3
sb3_contrib==2.6.0
scikit-learn==1.6.1
selenium==4.27.1
sentencepiece==0.2.0
setproctitle==1.3.4
setuptools==80.4.0
shap==0.48.0
shapely==2.0.7
Shimmy==2.0.0
sounddevice==0.5.1
soundfile==0.13.1
soxr==0.5.0.post1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.3
sqlparse==0.5.3
squarify==0.4.4
srsly==2.5.1
stable_baselines3==2.6.0
stanio==0.5.1
starlette==0.46.2
statsforecast==2.0.1
streamlit-audiorecorder==0.0.6
streamlit-webrtc==0.63.1
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensorflow==2.19.0
tensorflow_intel==2.18.0
termcolor==2.5.0
thefuzz==0.22.1
thinc==8.3.6
tiktoken==0.9.0
tokenizers==0.21.1
torch==2.7.0
torch-geometric==2.6.1
torchaudio==2.7.0
torchmetrics==1.7.3
torchvision==0.22.0
transformers==4.52.4
triad==0.9.8
trio==0.28.0
trio-websocket==0.11.1
umap==0.1.1
umap-learn==0.5.7
undetected-chromedriver==3.5.5
utilsforecast==0.2.12
uvicorn==0.34.2
waitress==3.0.2
wandb==0.19.4
wasabi==1.1.3
weasel==0.4.1
webdriver-manager==4.0.2
websockets==15.0
wheel==0.44.0
whisper==1.1.10
widgetsnbextension==4.0.13
wsproto==1.2.0
xgboost==3.0.0
xxhash==3.5.0